#logoBar {
  width: 30vw;
  height: 100vh;
  background: beige;
}
#siteLogo {
  width: 100%;
}
body {
  display: flex;
}
#staffGallery {
  width: 50vw;
  display: inherit;
  background: beige;
  flex-wrap: wrap;
}
.galleryImage {
  width: 100%;
  height: auto;
}

h1 {
  font-style: italic;
  color: hotpink;
  /* font-size: clamp(36px, 10vv, 72px); */
}

h3 {
  color: blueviolet;
  font-style: italic;
  /* font-size: clamp(24px, 10vv, 60px); */
}

.card {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: yellow;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

hr {
  margin: 0;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  #logoBar {
    width: 100%;
    height: auto;
    flex-direction: column;
    order: -1;
  }
  #staffGallery {
    /* flex-direction: column; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  hr {
    flex-direction: column;
    margin: 0;
  }
}
